extends ../snippets/base

block title
    title NoteBridge - Forgot Password

block css
    link(href='../static/css/login.css' rel='stylesheet')
    link(href='../static/css/samples/support-chat.css' rel='stylesheet')
    link(href='../static/css/samples/chat.css' rel='stylesheet')

block scripts
    script(type='module' charset='utf-8' src='../static/scripts/register.js')
    script(type='module' charset='utf-8' src='../static/scripts/support-chat.js')

block modals
    include ../snippets/nav.pug
    +snippet({message: "home"})

    include ../snippets/support-chat.pug

block content
    main.register
        .container
            .row
                .col-md-12.col-lg-6
                    .register__title
                        | Reset
                        span.highlighted  your
                        |  password.
                    form#forgotForm.register__form(action='/forgot-password' method='POST')
                        .input-field
                            label.input-label(for='forgotEmail') Email address
                            input#forgotEmail.input(type='text' name='forgotEmail' required='')
                            .register__forgot-password
                        input.button.register__btn(type='submit' value='Reset')
                    .register__propose
                        | Enter the email associated with your account and we'll send <br/> an email with instructions to reset your password
                .col-md-0.col-lg-6
                    .register__image
                        img(src='../static/images/login-illustration-1.svg' alt='Illustration')

