.overlay.none
    #view-review.modal.view-review
        .modal__close
            img(src='../static/images/icons/modal-close.svg' alt='Close')
        .modal__title
            span.highlighted-first-color Reviews
        .container.view-review__container
