doctype html
head
    meta(charset='UTF-8')
    block title
        title NoteBridge
    block css
    link(href='../static/css/modals/menu.css' rel='stylesheet')
    meta(name='viewport' content='width=device-width,initial-scale=1.0')
    block scripts

include ../modals/menu

block modals

block content

include footer
