.calendar
    .month-navigation
        span.prev-month &lt;
        span#month-year
        span.next-month &gt;
    table
        thead
            tr
                th Sun
                th Mon
                th Tue
                th Wed
                th Thu
                th Fri
                th Sat
        tbody#calendar-body
