footer.footer
    .container
        .row
            .col-sm-0.col-md-4
                .footer__logo
                    a(href="/main")
                        img(src='../static/images/footer-logo.png' alt='Logo')
            .col-sm-6.col-md-4
                .footer__links
                    a(href='#') Privacy Policy
                    a(href='#') Terms of Use
                    a(href='/map') Map
                    a(href='/main#help') FAQ
                    a(href='/contact') Contact Us
            .col-sm-6.col-md-4
                .footer__social-media
                    img(src='../static/images/icons/google.svg' alt='Mail')
                    img(src='../static/images/icons/linkedin.svg' alt='LinkedIn')
                    img(src='../static/images/icons/facebook.svg' alt='Facebook')
                .footer__social-media
                    img(src='../static/images/icons/twitter.svg' alt='Twitter')
                    img(src='../static/images/icons/instagram.svg' alt='Instagram')
                    img(src='../static/images/icons/whatsapp.svg' alt='WhatsApp')