.support-bubble
    img(src='../static/images/icons/support-bubble.svg' alt='Support')
.support-chat.none
    .modal__close.support-bubble__open
        img(src='../static/images/icons/modal-close.svg' alt='Close')
    .chat__messages-icon
        img(src='../static/images/icons/support-avatar.svg' alt='Support')
    .chat__messages-name
        span Support Assistant
    .chat__line
    .support-chat__block
        .chat__messages-their Hi there!
        .chat__messages-their It seems you have a question :)
        .chat__messages-their What topic do you have a question about?
        .support-chat__option.support-chat__to-select Account management question
        .support-chat__option.support-chat__to-select Teacher related question
        .support-chat__option.support-chat__to-select Student related question
        .support-chat__option.support-chat__to-select Customer support question
