$first-color : #8A3EB7;
$second-color : #F2B84A;
$third-color : #F5F5F5;

$font-header: "Montserrat", sans-serif;
$font-text: "Open Sans", sans-serif;

$box-shadow:  3px 3px 15px rgba(38, 38, 38, 0.25);
$box-shadow-hover:  3px 3px 15px rgba(242, 184, 74, 0.40);
$box-shadow-warning:  3px 3px 15px rgba(229, 10, 16, 0.4);
